  body {
    background-color: rgb(240, 243, 243);
    margin: 0;
  }
  .header {
      padding: 0px 20px 10px 0px;
      background-color: white;
  }
  .logo { 
      height: 40px; 
      width: 130px; 
      margin-top: 20px;
      margin-left: 30px;
  }
  .options {
      display: flex;
      position: absolute;
      opacity: 0;
      flex-direction: column;
      font-family: 'Mulish', sans-serif;
      font-size: 25px;
      font-weight: 900;
  }
  .options.active {
      opacity: 1;
      margin-left: -40px;
      background-color: white;
      margin-top: 10px;
      height: 100%;
      width: 100%;
  } 
  .options.active .home {
    margin-top: 50px;
  }
  .options.active li {
    margin-left: 50px;
  }
  ul {
      list-style: none;
      margin-right: 20px;
      margin-top: 40px;
  }
  ul li {
      margin: 15px;
      cursor: pointer;
  }
  li:hover {
    text-decoration: solid;
      /* border-bottom: 4px solid rgb(175, 25, 82); */
  }
  .menu {
      float: right;
      margin-top: -40px;
  }
  .signup {
      position: fixed;
      bottom: 0;
  }
  .signup:hover {
      border-bottom: none;
      cursor: pointer;
  }
  .signup button {
      background-image: linear-gradient(to bottom right, rgb(175, 25, 82), rgb(221, 70, 24));
      border: none;
      border-radius: 15px;
      color: white;
      padding: 13px 35px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      font-family: 'Mulish', sans-serif;
  }

  @media only screen and (min-width: 900px){
      .menu {
        display: none;
      }
      .home {
        display: none;
      }
      .signup {
        position: static;
        bottom: 0px;
      }
      .signup button {
        font-size: 12px;
        padding: 5px 18px;
        border-radius: 8px;
      }
      .options {
        opacity: 1;
        display: flex;
        flex-direction: row;
        right: 0;
        top: 0;
        font-weight: 500;
        font-size: 16px;
        margin-top: 10px;
        font-weight: 100;
      }
      ul li {
        margin-right: 10px;
      }
  }